include ../mixins/mixins

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
        link(rel="stylesheet", href="/css/main.css")
    body
        script. 
            var userLoggedIn = !{userLoggedInJs};
        .wrapper
            .row
                nav.col-2
                    a.blue(href="/")
                        i.fas.fa-cubes 
                    a(href="/search")
                        i.fas.fa-search 
                    //- a(href="/notifications")
                    //-     i.fas.fa-bell 
                    //- a(href="/messages")
                    //-     i.fas.fa-envelope
                    a(href="/profile")
                        i.fas.fa-user-tie 
                    a(href="/logout")
                        i.fas.fa-door-open
                .mainSectionContainer.col-10.col-md-8.col-lg-6
                    .titleContainer 
                        .h1 #{pageTitle}
                    block content

                .d-none.d-md-block.col-md-2.col-lg-4

        

        script(src='https://kit.fontawesome.com/64175c531c.js' crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js', integrity='sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==', crossorigin='anonymous', referrerpolicy='no-referrer')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')

        block scripts

        script(src="/javascript/common.js")
        //**change this to the correct javascript source!!**