extends layouts/main-layout.pug

block content
    h1.login-form-1 LeaderBoard
    br
    h2.login-form-1 (Most Recent First)
    .leaderboardContainer

block scripts 
    script(src="/javascript/leaderboard.js")