mixin createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer
            img(src=userLoggedIn.profilePic, alt="Profile Picture")
        .textareaContainer
            .card(style='width: 18rem;')
                img.card-img-top(src='/images/waffles.png' alt='Card image cap')
                .card-body
                    h5.card-title Top 5 (Category)
                    p.card-text
                        | A place for a user to put a caption
                ul.list-group.list-group-flush
                    li.list-group-item 1: (#1)
                    li.list-group-item 2: (#2)
                    li.list-group-item 3: (#3)
                    li.list-group-item 4: (#4)
                    li.list-group-item 5: (#5)
                .card-body
                    a.card-link(href='https://www.youtube.com/watch?v=PjLw1E7tTuc') Link a Video or Whatever
        input.btn.btn-primary(type='submit' value='Submit')
