mixin createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer
            img(src=userLoggedIn.profilePic, alt="Profile Picture")
        .textareaContainer
            textarea#postTextarea(placeholder="Add a Caption...")
            .buttonsContainer
                button#submitPostButton Submit